.card {
    width: 220px;
    padding: 10px;
    border-radius: 12px;
    background: #1e1e1e;
    color: white;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.card-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
